flows.json
[
    {
        "id": "44082fd627d695b9",
        "type": "tab",
        "label": "Flow 1",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "79f746e5f8c139a0",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d125e422bf7c6512",
        "type": "tab",
        "label": "Play Mode",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2b9c2deef491e8ac",
        "type": "tab",
        "label": "Compose Mode",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5979ebc37d9df81c",
        "type": "mqtt-broker",
        "name": "AzureMMqttBroker",
        "broker": "172.210.82.230",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2a5fee6b603ef17e",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b912c3b660b92f97",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "d19c11ff5a0b5190",
        "type": "ui_group",
        "name": "Home",
        "tab": "2a5fee6b603ef17e",
        "order": 1,
        "disp": false,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d2779169c76ca83a",
        "type": "ui_tab",
        "name": "Assignment10Page",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ea2a2b8c96fa6afb",
        "type": "ui_group",
        "name": "Assignment 10 Page",
        "tab": "d2779169c76ca83a",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "disabled": false,
        "hidden": false,
        "className": ""
    },
    {
        "id": "f825068920ccb306",
        "type": "ui_tab",
        "name": "ComposeMode",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "dcdb68ac2bf8b902",
        "type": "ui_tab",
        "name": "PlayMode",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a59739c3cb87b7b9",
        "type": "ui_group",
        "name": "Play Mode",
        "tab": "dcdb68ac2bf8b902",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ee7c5953590340c2",
        "type": "ui_group",
        "name": "Compose Mode",
        "tab": "f825068920ccb306",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "82e2ba23907d25e4",
        "type": "mqtt out",
        "z": "44082fd627d695b9",
        "name": "mqttOut",
        "topic": "T1_A10_mqttButton",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5979ebc37d9df81c",
        "x": 520,
        "y": 160,
        "wires": []
    },
    {
        "id": "5798973e6dfa8a75",
        "type": "mqtt in",
        "z": "44082fd627d695b9",
        "name": "mqttIn",
        "topic": "T1_A10_mqttButton",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5979ebc37d9df81c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 370,
        "y": 220,
        "wires": [
            [
                "6490201ea1dc6824"
            ]
        ]
    },
    {
        "id": "6490201ea1dc6824",
        "type": "debug",
        "z": "44082fd627d695b9",
        "name": "mqttDebug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 220,
        "wires": []
    },
    {
        "id": "20840411a08b4520",
        "type": "ui_switch",
        "z": "44082fd627d695b9",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "ea2a2b8c96fa6afb",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "LEDOn",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "LEDOff",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 370,
        "y": 160,
        "wires": [
            [
                "82e2ba23907d25e4"
            ]
        ]
    },
    {
        "id": "79eb7c2da0384fd3",
        "type": "mqtt in",
        "z": "44082fd627d695b9",
        "name": "",
        "topic": "T1_A10_mqttLED",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5979ebc37d9df81c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 400,
        "y": 300,
        "wires": [
            [
                "78d15352c6dbed1b",
                "52bd0ceb0bdaf08f"
            ]
        ]
    },
    {
        "id": "78d15352c6dbed1b",
        "type": "debug",
        "z": "44082fd627d695b9",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 300,
        "wires": []
    },
    {
        "id": "52bd0ceb0bdaf08f",
        "type": "ui_led",
        "z": "44082fd627d695b9",
        "order": 1,
        "group": "ea2a2b8c96fa6afb",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 610,
        "y": 360,
        "wires": []
    },
    {
        "id": "6de976e54b812f1b",
        "type": "ui_button",
        "z": "79f746e5f8c139a0",
        "name": "GoToPlayMode",
        "group": "d19c11ff5a0b5190",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Play Mode",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "PlayMode",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "str",
        "x": 300,
        "y": 120,
        "wires": [
            [
                "05cfe72ec1c3bc50",
                "d486127c8c14d177"
            ]
        ]
    },
    {
        "id": "ddb16d287e41dbe8",
        "type": "ui_button",
        "z": "79f746e5f8c139a0",
        "name": "GoToComposeMode",
        "group": "d19c11ff5a0b5190",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Compose Mode",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "ComposeMode",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "str",
        "x": 320,
        "y": 220,
        "wires": [
            [
                "6f53e85e443adba8",
                "6f1c1cda7715e269",
                "26ed9c5a53d45d8a",
                "8e58cb181336c4a3"
            ]
        ]
    },
    {
        "id": "6f53e85e443adba8",
        "type": "ui_ui_control",
        "z": "79f746e5f8c139a0",
        "name": "goToComposeTab",
        "events": "all",
        "x": 590,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "05cfe72ec1c3bc50",
        "type": "ui_ui_control",
        "z": "79f746e5f8c139a0",
        "name": "goToPlayMode",
        "events": "all",
        "x": 580,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "6f1c1cda7715e269",
        "type": "debug",
        "z": "79f746e5f8c139a0",
        "name": "ComposeModeButtonDebug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 280,
        "wires": []
    },
    {
        "id": "d486127c8c14d177",
        "type": "debug",
        "z": "79f746e5f8c139a0",
        "name": "PlayModeButtonDebug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 160,
        "wires": []
    },
    {
        "id": "26ed9c5a53d45d8a",
        "type": "mqtt out",
        "z": "79f746e5f8c139a0",
        "d": true,
        "name": "mqttComposeFWOut",
        "topic": "mqttFW",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5979ebc37d9df81c",
        "x": 600,
        "y": 340,
        "wires": []
    },
    {
        "id": "bc8bb38ffbb839c6",
        "type": "comment",
        "z": "79f746e5f8c139a0",
        "name": "",
        "info": "clicking the \"compose mode\" button will update the firmware and bring the user to a new page to view the chords they play",
        "x": 300,
        "y": 280,
        "wires": []
    },
    {
        "id": "8e58cb181336c4a3",
        "type": "mqtt out",
        "z": "79f746e5f8c139a0",
        "name": "mqttSongFWOut",
        "topic": "mqttSongFW",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5979ebc37d9df81c",
        "x": 590,
        "y": 400,
        "wires": []
    },
    {
        "id": "46e63ed2c53a52d0",
        "type": "ui_button",
        "z": "d125e422bf7c6512",
        "name": "Home",
        "group": "a59739c3cb87b7b9",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Home",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Home",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "str",
        "x": 250,
        "y": 540,
        "wires": [
            [
                "09b165d9ab4bbcf3",
                "8a1c77cc00cdbefa",
                "4818f90403e6471a"
            ]
        ]
    },
    {
        "id": "09b165d9ab4bbcf3",
        "type": "debug",
        "z": "d125e422bf7c6512",
        "name": "homeButtonDebug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 640,
        "wires": []
    },
    {
        "id": "8a1c77cc00cdbefa",
        "type": "ui_ui_control",
        "z": "d125e422bf7c6512",
        "name": "goToHomeTab",
        "events": "all",
        "x": 480,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "4f5e4e977c95b6c5",
        "type": "ui_dropdown",
        "z": "d125e422bf7c6512",
        "name": "SongSelector",
        "label": "Choose a song",
        "tooltip": "",
        "place": "Select option",
        "group": "a59739c3cb87b7b9",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Riptide",
                "value": "Riptide",
                "type": "str"
            },
            {
                "label": "Here Comes The Sun",
                "value": "Here Comes The Sun",
                "type": "str"
            },
            {
                "label": "You Are My Sunshine",
                "value": "You Are My Sunshine",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 280,
        "y": 100,
        "wires": [
            [
                "053495f30181bfa6"
            ]
        ]
    },
    {
        "id": "254ccb4767d23621",
        "type": "debug",
        "z": "d125e422bf7c6512",
        "name": "SongSelectorDebug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 180,
        "wires": []
    },
    {
        "id": "18b3209c88f12e46",
        "type": "mqtt out",
        "z": "d125e422bf7c6512",
        "name": "mqttSongFWOut",
        "topic": "mqttSongFW",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5979ebc37d9df81c",
        "x": 830,
        "y": 100,
        "wires": []
    },
    {
        "id": "08aa591073316ce3",
        "type": "mqtt in",
        "z": "d125e422bf7c6512",
        "name": "mqttSongFWIn",
        "topic": "mqttSongFW",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5979ebc37d9df81c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 280,
        "wires": [
            [
                "53eb2fe5c6dd818a"
            ]
        ]
    },
    {
        "id": "53eb2fe5c6dd818a",
        "type": "debug",
        "z": "d125e422bf7c6512",
        "name": "firmwareUpdateDebug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 280,
        "wires": []
    },
    {
        "id": "ea516e799e46605b",
        "type": "ui_gauge",
        "z": "d125e422bf7c6512",
        "name": "",
        "group": "a59739c3cb87b7b9",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Position Feedback",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "4095",
        "colors": [
            "#ca3838",
            "#09ae2a",
            "#ca3838"
        ],
        "seg1": "2",
        "seg2": "3000",
        "diff": true,
        "className": "",
        "x": 510,
        "y": 800,
        "wires": []
    },
    {
        "id": "e7714712d6ec94c5",
        "type": "mqtt in",
        "z": "d125e422bf7c6512",
        "name": "mqttPositionFeedback",
        "topic": "mqttPosition",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5979ebc37d9df81c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 800,
        "wires": [
            [
                "ea516e799e46605b"
            ]
        ]
    },
    {
        "id": "ef36bdfef1358c56",
        "type": "mqtt out",
        "z": "d125e422bf7c6512",
        "d": true,
        "name": "mqttPositionOut",
        "topic": "mqttPosition",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5979ebc37d9df81c",
        "x": 500,
        "y": 740,
        "wires": []
    },
    {
        "id": "5a663cc5dcc41f8c",
        "type": "ui_text_input",
        "z": "d125e422bf7c6512",
        "d": true,
        "name": "",
        "label": "Position Tester",
        "tooltip": "",
        "group": "a59739c3cb87b7b9",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 300,
        "y": 740,
        "wires": [
            [
                "ef36bdfef1358c56"
            ]
        ]
    },
    {
        "id": "be7ecbd84cc87980",
        "type": "comment",
        "z": "d125e422bf7c6512",
        "name": "",
        "info": "Selecting the song -- downloads firmware when song is selected",
        "x": 180,
        "y": 40,
        "wires": []
    },
    {
        "id": "2bc7b7dac77e016a",
        "type": "comment",
        "z": "d125e422bf7c6512",
        "name": "",
        "info": "return to home page",
        "x": 180,
        "y": 480,
        "wires": []
    },
    {
        "id": "9aab570af028cd96",
        "type": "comment",
        "z": "d125e422bf7c6512",
        "name": "",
        "info": "feedback for holding the guitar",
        "x": 180,
        "y": 680,
        "wires": []
    },
    {
        "id": "27bfbaf9968a0553",
        "type": "ui_button",
        "z": "d125e422bf7c6512",
        "name": "",
        "group": "a59739c3cb87b7b9",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "start",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 250,
        "y": 180,
        "wires": [
            [
                "423a37e22784143d"
            ]
        ]
    },
    {
        "id": "423a37e22784143d",
        "type": "function",
        "z": "d125e422bf7c6512",
        "name": "function 2",
        "func": "let selected = flow.get(\"selectedSong\");\nif (selected) {\n    msg.payload = selected;\n    return msg;\n} else {\n    node.warn(\"No song selected yet!\");\n    return null;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 140,
        "wires": [
            [
                "18b3209c88f12e46",
                "254ccb4767d23621",
                "261a79a286a8a176"
            ]
        ]
    },
    {
        "id": "053495f30181bfa6",
        "type": "function",
        "z": "d125e422bf7c6512",
        "name": "function 3",
        "func": "flow.set(\"selectedSong\", msg.payload);",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "261a79a286a8a176",
        "type": "function",
        "z": "d125e422bf7c6512",
        "name": "function 4",
        "func": "let selected = flow.get(\"selectedSong\") || \"<no selection>\";\nif(selected == \"Riptide\"){\n    msg.payload = [\"Am\", \"Am\", \"G\", \"G\", \"C\", \"C\", \"C\", \"C\", \"Am\", \"Am\", \"G\", \"G\", \"C\", \"C\", \"C\", \"C\"]\n}\nif(selected == \"You Are My Sunshine\"){\n    msg.payload = [\"A\",\"A\", \"D\", \"A\", \"D\", \"A\", \"A\", \"E\", \"A\"]\n}\nif(selected == \"Here Comes The Sun\"){\n    msg.payload = [\"D\", \"D\", \"G\", \"A\", \"D\", \"D\", \"G\", \"A\", \"D\", \"D\", \"G\", \"E\", \"D\"]\n}\nflow.set(\"chordsToPlay\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 240,
        "wires": [
            [
                "6f4a013450aa0421",
                "adbb1641d3a6932e"
            ]
        ]
    },
    {
        "id": "adbb1641d3a6932e",
        "type": "ui_text",
        "z": "d125e422bf7c6512",
        "group": "a59739c3cb87b7b9",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Notes to Play:",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1040,
        "y": 240,
        "wires": []
    },
    {
        "id": "7ee0b819066f6764",
        "type": "debug",
        "z": "d125e422bf7c6512",
        "name": "SongNotesDebug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1230,
        "y": 440,
        "wires": []
    },
    {
        "id": "6f4a013450aa0421",
        "type": "function",
        "z": "d125e422bf7c6512",
        "name": "function 5",
        "func": "let chordPlayed = msg.payload;\nlet notes = flow.get(\"chordsToPlay\");\nmsg.payload = notes[0];\nif(notes[0] == chordPlayed){\n    flow.set(\"chordsToPlay\",notes.slice(1));\n    msg.payload = notes[1];\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 380,
        "wires": [
            [
                "7ee0b819066f6764",
                "9ba593f9ad7ef057"
            ]
        ]
    },
    {
        "id": "c7e9f6a1b6a1d5e3",
        "type": "mqtt in",
        "z": "d125e422bf7c6512",
        "name": "ChordPressed",
        "topic": "mqttChord",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5979ebc37d9df81c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 810,
        "y": 460,
        "wires": [
            [
                "6f4a013450aa0421"
            ]
        ]
    },
    {
        "id": "9ba593f9ad7ef057",
        "type": "ui_text",
        "z": "d125e422bf7c6512",
        "group": "a59739c3cb87b7b9",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current Note",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1210,
        "y": 360,
        "wires": []
    },
    {
        "id": "746da5791c3bf7f3",
        "type": "ui_text_input",
        "z": "d125e422bf7c6512",
        "d": true,
        "name": "",
        "label": "Play Chord:",
        "tooltip": "",
        "group": "a59739c3cb87b7b9",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 810,
        "y": 380,
        "wires": [
            [
                "6f4a013450aa0421"
            ]
        ]
    },
    {
        "id": "4818f90403e6471a",
        "type": "mqtt out",
        "z": "d125e422bf7c6512",
        "name": "mqttSongFWOut",
        "topic": "mqttSongFW",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5979ebc37d9df81c",
        "x": 490,
        "y": 480,
        "wires": []
    },
    {
        "id": "549c61272d95eff9",
        "type": "mqtt out",
        "z": "d125e422bf7c6512",
        "name": "",
        "topic": "mqttFinishedPlaying",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5979ebc37d9df81c",
        "x": 520,
        "y": 940,
        "wires": []
    },
    {
        "id": "7e417ef4af26a555",
        "type": "ui_button",
        "z": "d125e422bf7c6512",
        "name": "FinishedPlaying",
        "group": "a59739c3cb87b7b9",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Finished Playing",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Finished Playing",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 240,
        "y": 960,
        "wires": [
            [
                "2aed69d5271c991a",
                "549c61272d95eff9"
            ]
        ]
    },
    {
        "id": "2aed69d5271c991a",
        "type": "debug",
        "z": "d125e422bf7c6512",
        "name": "finishedPlayingMessage",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 1020,
        "wires": []
    },
    {
        "id": "7f72e27fcb1f0c29",
        "type": "mqtt in",
        "z": "2b9c2deef491e8ac",
        "name": "ChordPressed",
        "topic": "mqttChord",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5979ebc37d9df81c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 370,
        "y": 80,
        "wires": [
            [
                "78e3253e92b2ef7d",
                "ab7c84a96208a83b",
                "eee85810bd37acd7"
            ]
        ]
    },
    {
        "id": "78e3253e92b2ef7d",
        "type": "debug",
        "z": "2b9c2deef491e8ac",
        "name": "ChordOutput",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 80,
        "wires": []
    },
    {
        "id": "ad68cfc50ead596f",
        "type": "comment",
        "z": "2b9c2deef491e8ac",
        "name": "",
        "info": "This helps log what chord was just pressed",
        "x": 280,
        "y": 40,
        "wires": []
    },
    {
        "id": "ab7c84a96208a83b",
        "type": "file",
        "z": "2b9c2deef491e8ac",
        "d": true,
        "name": "",
        "filename": "",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 560,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "e6ca749cbf2cd3fd",
        "type": "file in",
        "z": "2b9c2deef491e8ac",
        "d": true,
        "name": "",
        "filename": "",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 580,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "e03f8ce76f2cf230",
        "type": "ui_button",
        "z": "2b9c2deef491e8ac",
        "name": "FinishedPlaying",
        "group": "ee7c5953590340c2",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Finished Playing",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Finished Playing",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 360,
        "y": 380,
        "wires": [
            [
                "e6ca749cbf2cd3fd",
                "9ad1e315aa467ac6",
                "baef65d05a191f0a"
            ]
        ]
    },
    {
        "id": "9ad1e315aa467ac6",
        "type": "debug",
        "z": "2b9c2deef491e8ac",
        "name": "finishedPlayingMessage",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 440,
        "wires": []
    },
    {
        "id": "6490332c53dfcc1f",
        "type": "comment",
        "z": "2b9c2deef491e8ac",
        "name": "",
        "info": "after the user indiates they are finished playing, return the composed file",
        "x": 260,
        "y": 320,
        "wires": []
    },
    {
        "id": "5688b30d037a0924",
        "type": "ui_button",
        "z": "2b9c2deef491e8ac",
        "name": "Home",
        "group": "ee7c5953590340c2",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Home",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Home",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "str",
        "x": 370,
        "y": 560,
        "wires": [
            [
                "c5b5b24dc97abf31",
                "20b7714ff4a04c44",
                "61e056a44b3145ee"
            ]
        ]
    },
    {
        "id": "c5b5b24dc97abf31",
        "type": "debug",
        "z": "2b9c2deef491e8ac",
        "name": "homeButtonDebug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 660,
        "wires": []
    },
    {
        "id": "20b7714ff4a04c44",
        "type": "ui_ui_control",
        "z": "2b9c2deef491e8ac",
        "name": "goToHomeTab",
        "events": "all",
        "x": 580,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "95a0849c165ca33c",
        "type": "mqtt out",
        "z": "2b9c2deef491e8ac",
        "name": "",
        "topic": "mqttChord",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5979ebc37d9df81c",
        "x": 550,
        "y": 260,
        "wires": []
    },
    {
        "id": "2e2aad26bcc6417e",
        "type": "ui_text_input",
        "z": "2b9c2deef491e8ac",
        "d": true,
        "name": "",
        "label": "Test Chord:",
        "tooltip": "",
        "group": "ee7c5953590340c2",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 350,
        "y": 260,
        "wires": [
            [
                "95a0849c165ca33c"
            ]
        ]
    },
    {
        "id": "82be0d0d34f21fd7",
        "type": "ui_text",
        "z": "2b9c2deef491e8ac",
        "group": "ee7c5953590340c2",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Chord played:",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 760,
        "y": 180,
        "wires": []
    },
    {
        "id": "eee85810bd37acd7",
        "type": "function",
        "z": "2b9c2deef491e8ac",
        "name": "function 1",
        "func": "//if command is to clear the log\nif (msg.payload === \"clear\") {\n    flow.set(\"terminalLog\", \"\");   // Clear the stored log\n    msg.payload = \"\";              // Clear what's sent to ui_textarea\n    return msg;\n}\n\n//else\n// Get previous output from flow context (or set to empty string if undefined)\nlet prev = flow.get(\"terminalLog\") || \"\";\n// Append the new character or message\nprev += msg.payload + \" \";  // put a space between each chord\n// Save it back to flow context\nflow.set(\"terminalLog\", prev);\n// Send updated message\nmsg.payload = prev;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 180,
        "wires": [
            [
                "82be0d0d34f21fd7"
            ]
        ]
    },
    {
        "id": "478f9499fb196bcd",
        "type": "ui_button",
        "z": "2b9c2deef491e8ac",
        "name": "reset",
        "group": "ee7c5953590340c2",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "clear",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 350,
        "y": 180,
        "wires": [
            [
                "eee85810bd37acd7"
            ]
        ]
    },
    {
        "id": "ae470d07b91f09cb",
        "type": "mqtt out",
        "z": "2b9c2deef491e8ac",
        "d": true,
        "name": "mqttPositionOut",
        "topic": "mqttPosition",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5979ebc37d9df81c",
        "x": 560,
        "y": 760,
        "wires": []
    },
    {
        "id": "c0b650c936d489af",
        "type": "ui_gauge",
        "z": "2b9c2deef491e8ac",
        "name": "",
        "group": "ee7c5953590340c2",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Position Feedback",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "4095",
        "colors": [
            "#ca3838",
            "#09ae2a",
            "#ca3838"
        ],
        "seg1": "1",
        "seg2": "3000",
        "diff": true,
        "className": "",
        "x": 630,
        "y": 820,
        "wires": []
    },
    {
        "id": "77ec020946e27f2b",
        "type": "mqtt in",
        "z": "2b9c2deef491e8ac",
        "name": "mqttPositionFeedback",
        "topic": "mqttPosition",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5979ebc37d9df81c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 380,
        "y": 820,
        "wires": [
            [
                "c0b650c936d489af"
            ]
        ]
    },
    {
        "id": "51c164bff8691ec4",
        "type": "ui_text_input",
        "z": "2b9c2deef491e8ac",
        "d": true,
        "name": "",
        "label": "Position Tester",
        "tooltip": "",
        "group": "ee7c5953590340c2",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 360,
        "y": 760,
        "wires": [
            [
                "ae470d07b91f09cb"
            ]
        ]
    },
    {
        "id": "3a3c58fc77f5597b",
        "type": "comment",
        "z": "2b9c2deef491e8ac",
        "name": "",
        "info": "return to main page",
        "x": 260,
        "y": 500,
        "wires": []
    },
    {
        "id": "0bd64eeedcab7b9d",
        "type": "comment",
        "z": "2b9c2deef491e8ac",
        "name": "",
        "info": "feedback for the guitar position",
        "x": 260,
        "y": 700,
        "wires": []
    },
    {
        "id": "61e056a44b3145ee",
        "type": "mqtt out",
        "z": "2b9c2deef491e8ac",
        "name": "mqttSongFWOut",
        "topic": "mqttSongFW",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5979ebc37d9df81c",
        "x": 590,
        "y": 500,
        "wires": []
    },
    {
        "id": "baef65d05a191f0a",
        "type": "mqtt out",
        "z": "2b9c2deef491e8ac",
        "name": "",
        "topic": "mqttFinishedPlaying",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5979ebc37d9df81c",
        "x": 640,
        "y": 320,
        "wires": []
    }
]